    <div id="Footer">
        <div id="footerLinks">
            <a href="@Url.Content("~/news/")">news</a>
            <a href="@Url.Content("~/join")">join</a>
            <a href="@Url.Content("~/about")">about</a>
            <a href="@Url.Content("~/issues")">issues</a>
            <a href="@Url.Content("~/multimedia")">multimedia</a>
            <a href="@Url.Content("~/contribute")">contribute</a>
            <a href="@Url.Content("~/volunteer")">volunteer</a>
            <a href="@Url.Content("~/contact")">contact</a>
        </div>
        <div id="disclaimer">
            Paid for by the Gimenez for Mayor Campaign
        </div>
    </div>