                <ul id="menu">
                    <li>@Html.ActionLink("Manage Content", "Index", "ContentMaintenance")</li>
                    <li>@Html.ActionLink("Manage Catalogs", "CatalogMaintenance", "ContentMaintenance")</li>
                    <li>@Html.ActionLink("Upload Photos", "Index", "Uploader")</li>                                      
                    <li>@Html.ActionLink("Profile", "Index", "Registrants")</li>
                    <li>@Html.ActionLink("Maintain Admin Users", "MaintainUsers", "Account")</li>
                    <li>@Html.ActionLink("General Settings", "Index", "Settings")</li>
                </ul>
