            <div id="main-nav">
                <ul id="menu">
                    <li><a href="@Url.Content("~/music/ROCK")">ROCK + HEAVY</a></li>
                    <li>|</li>
                    <li><a href="@Url.Content("~/music/ACOUSTIC-AA")">ACOUSTIC + ADULT ALTERNATIVE</a></li>
                    <li> | </li>
                    <li><a href="@Url.Content("~/music/ELECTRONIC")">ELECTRONIC + INSTRUMENTAL</a></li>
                    <li></li>


                    <!--
                    <li><a href="@Url.Content("~/store")">store</a></li>
                    <li><a href="@Url.Content("~/shows")">shows</a></li>
                    <li><a href="@Url.Content("~/about")">about</a></li>

                    <li><a href="@Url.Content("~/blog")">blog</a></li>
                    
                    <li><a href="@Url.Content("~/photos")">photos</a></li>                   
                    <li><a href="@Url.Content("~/video")">video</a></li>
                    -->

                </ul>
            </div>
