@model IEnumerable<NEST.Models.ContentBody>

@{
    ViewBag.Title = "Shows";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<style>
#main-content h1{}
#main-content h2,h3{padding-left:10px;padding-top:15px;}
</style>

<h1>@ViewBag.Title</h1>

<div class="main-inner">
    <div id="main-content" class="radius">

<p>Check out the upcoming shows...</p>

@foreach (var item in Model)
{
           
   
    <h2>@Html.DisplayFor(modelItem => item.Title)</h2>
    <p>@Html.DisplayFor(modelItem => item.BodyText) ...@Html.ActionLink("More", "Details", new { id = item.Id })<br />
    <div align="right"><iframe src="//www.facebook.com/plugins/like.php?href=@Url.Content("~/shows/Details/")@item.Id&amp;send=false&amp;layout=button_count&amp;width=50&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:50px; height:21px;" allowTransparency="true"></iframe>
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="@Url.Content("~/shows/NewsDetails/")@item.Id" data-text="@item.Title)">Tweet</a>
    <script>        !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } } (document, "script", "twitter-wjs");</script>

    </div>
    </p>

}
</div></div>