@model NEST.Models.Configuration

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Configuration</legend>

    <div class="display-label">GoogleAnalytics_ID</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GoogleAnalytics_ID)
    </div>

    <div class="display-label">TwitterHandle</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TwitterHandle)
    </div>

    <div class="display-label">FacebookURL</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FacebookURL)
    </div>

    <div class="display-label">GooglePlusURL</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GooglePlusURL)
    </div>

    <div class="display-label">ContributionEngine</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContributionEngine)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
